include resume-mixins.pug

#main
  #contact
    ul.horizontal
      li #[i.fa.fa-mobile] 719.244.4351
      li #[i.fa.fa-envelope] nathan.s.carlson@protonmail.com
      li #[i.fas.fa-location-dot] Black Hawk, Colorado

  #title
    h1 Nathan Carlson
    //- .subtitle Software Engineer
  
  #summary
    h2 #[i.fas.fa-list] Summary

  .blocks
    .date
      if from_date
        span= from_date
      if to_date
        span= to_date
    .details
      header
        h3= title
        if place
          span.place= place
        if location
          span.location= location
      .description
        :markdown-it
          Vice President of Engineering with experience overseeing a startup engineering team and architecting full-stack applications and systems.
          Managed and mentored a team of six engineers, fostering innovation and best practices. Demonstrated ability in aligning technology
          strategies with business goals and driving team excellence.
          
          Striving to model a transformational leadership style through mentorship, inspiration, recognition, and individual concern for personal growth.

          Seeking opportunities to leverage engineering and leadership skills in a forward-thinking environment.
  .main-block
    h2 #[i.fa.fa-suitcase] Experience

    +item("VP of Engineering", "Ouray Digital", "Golden, CO", "Present", "02/2020")
      :markdown-it
        Spearheaded the technical direction and architecture of a social media platform, scaling from 500 to over 150,000 users
        - Recruited and mentored new team members
        - In an environment with only manual and time-consuming software releases, implemented CI/CD pipelines using CircleCI,
          reducing development lead time, and greatly improving quality assurance
        - Designed a notifications system powered by RSMQ and GraphQL subscriptions
        - As business needs required consolidated control that public cloud hosting solutions could not provide, transformed and migrated the platform's infrastructure, achieving full vertical control of hosting and realizing significant performance benefits
        - Designed a live voting tool used during virtual events on the platform
        - Built web conference solutions, integrating with video stream broadcasting and cloud recording solutions

        **Technologies Used**
        - React, Node.js, GraphQL, TypeScript, Meteor.js, RSMQ
        - CircleCI, MongoDB, Postgres, nginx, Redis, Mailgun, Campaign Monitor, Cloudflare
        - AWS, Ubuntu Server, VMWare, Docker Swarm, Ansible

    +item("Senior Software Engineer", "Motili", "Denver, CO", "12/2019", "03/2019")
      :markdown-it
        Motili's core offering empowers HVAC contractors and property owners by enabling them to interface together seamlessly on
        a platform that generates work orders and quotes, sources parts, fulfills orders, and manages assets.

        - Implemented back end, and user facing, features in a production environment
        - Delivered a centralized solution for automatic code formatting and linting across multiple code repositories
        - Wrote a tool allowing interaction with product catalog data using CRUD actions, as an alternative to writing tedious SQL scripts
        - Advocated for coworker success by providing a listening ear and teaching on new technologies and frameworks
        - Prototyped experimental applications in order to evaluate alternative frameworks

        **Technologies Used**
        - IBM LoopBack, GraphQL, Node.js, React.js
        - Postgres, AWS, Redis, BullMQ, Jenkins
        
    +item("Software Engineer", "ShapeShift", "Denver, CO", "01/2019", "12/2017")
      :markdown-it
        - Contributed to the CoinCap redesign effort - [https://coincap.io](coincap.io)
        - Contributed to the Membership Portal - [https://portal.shapeshift.io](portal.shapeshift.io)
        - Implemented public and authenticated GraphQL queries returning data from multiple sources, including REST, Redis, and Postgres
        - Gathered and implemented requirements for db schema design and Sequelize migrations
        - Spearheaded efforts to unify form management to Formik, and consolidate data APIs with TypeORM
        - Designed and delivered cron-like microservices that performing periodic queries and tasks
        - Enjoyed training new members of the team, familiarizing them with the tech stack
        - Implemented a cold storage service layer which includes deriving addresses from xpubs on 
          multiple chains and m-of-n bitcoin multisig arrangements

    +item("Software Engineer", "Braxton Technologies", "Colorado Springs, CO", "12/2017", "04/2014")
      :markdown-it
        - Contributed to the SENSOR program contracted to Harris Corporation
        - Used Puppet to provision Splunk centralized logging in complex networked environments
        - Implemented automatic enforcement for many Security Technical Implementation Guides (STIGs) for RHEL7 VMs using Puppet, shell scripting, and other tools
        - Simplified multi-host installation scripts running over a network
        - Implemented features in Spring Boot REST with unit test coverage

        **Technologies Used**
        - VMware, Red Hat Enterprise Linux, Puppet, Splunk, Digital Unix
        - Java, Spring MVC, JPA
    
    #projects
      h2 #[i.fas.fa-code] Personal Projects
      //- +item("Homelab", "", "")

      +projectitem("Homelab")
        :markdown-it
          Proxmox-based virtualization tailored for data science workflows.  Key Applications are Dask for scalable
          computing and advanced parallelism, and Jupyter Lab for for interactive data science and analysis.

  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Education
    +item("University of Colorado Colorado Springs", "", "", "2014")
      .concise
        :markdown-it
          - Bachelor of Science in Computer Science
          - Minor in Mathematics
      
#sidebar
  #contact.side-block
    h1 Find Me
    ul
      li #[i.fab.fa-github] nscarlson
      li #[i.fab.fa-linkedin-in] nathanscarlson
      
  #contact.side-block
    h1 Skills
    ul
      li #[i.fab.fa-node-js] Node.js
      li #[i.fas.fa-project-diagram] GraphQL
      li #[i.fab.fa-react] ReactJS
      li #[i.fab.fa-git-alt] Git
      li #[i.fab.fa-docker] Docker
      li #[i.fas.fa-gears] Ansible
      li #[i.fa.fa-dharmachakra] Kubernetes
      li #[i.fa.fa-database] Postgres
      li #[i.fa.fa-database] Redis
      li #[i.fa.fa-terminal] Bash
      li #[i.fas.fa-server] VMWare
      li #[i.fas.fa-server] Proxmox
      
style
  include resume.scss
